<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Schedule Sync</title>
</head>
<body class="schedule_sync">
    <navbar class="navbar">
        <ul>

            <li><img src="{{ url_for('static', filename='logo_2.png') }}"></li>
            <li><a href="/">Home</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/change_password">Change Password</a></li>
        </ul>
    </navbar>

    <form action="/change_password" method="post">
        <label>Current Password</label>
        <input name="current_password" type="password" required><br>
        <label>New Password</label>
        <input name="new_password" type="password" required><br>
        <label>Confirm New Password</label>
        <input name="confirm_password" type="password" required><br>

        <input type="submit" value="login">
      </form>
    <h3>{{ message }}</h3>
</body>
</html>